
/*************
*** IMPORT ***
**************/

@import "import/mixins.scss";
@import "import/variables.scss";


/*************
*** IMPORT ***
**************/


.background
{
	height: 400px;
    background: linear-gradient(
     rgba(0, 0, 0, 0.2), 
     rgba(0, 0, 0, 0.6)
   ),url('../images/po.jpg')no-repeat;
   padding-top: 5px;
   margin-bottom: 50px;
}

.office-photo
{
	@include office-photo('../images/11.jpg');
}

.office-photo-second
{
	@include office-photo('../images/b.jpg');
	margin-top: 100px;
}

#about 
{
	padding: 0;
}

.about
{
	section
	{
		padding: 50px 0 100px 0;
	}

	.about-me h1
	{
		color:$color-title;
		padding-bottom:30px;
	}

	.education
	{
		padding:100px 0;
		h1
		{
			padding-bottom:50px;
			text-align:center;
			color:$color-title;
		}
		.esgi, .epitech, .tsr
		{
			border-left: $border-left;
		}
		h3
		{
			font-weight:300;
		}
		p
		{
			color:$color-title;
		}
	}

	h2 
	{
		text-align: center;
		color:$color-title;
	}
}

.progress.active .progress-bar, .progress-bar.active
{
	background-color: black;
}

.about-me
{
	background-color: whitesmoke;
	margin-top: 100px;
	text-align: center;
}