#contact
{
	padding: 0;
}

.contact form
{
	padding: 100px 0 50px 0;
}

.contact form label
{
	color: grey;
	font-weight: 400;
	font-size: 18px;
}

.contact .contact-details
{
	padding-top: 110px;
	line-height: 30px;
	color: grey;
}