$color_white : white;
$color_background : whitesmoke;
$width_img: 100%;
$font-family: 'PT Sans', sans-serif;
$font-family-wrapper: 'Open Sans', sans-serif;
$border-left: 1px solid grey; 
$color-title: grey;

